[[source]]
url =  "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "==2.1.0"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
django-extensions = "*"
whitenoise = "*"
gunicorn = "*"
django-storage-supabase = "*"
psycopg2 = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"
pygraphviz = "*"

[requires]
python_version = "3.9"
