<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">READY STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link btn btn-dark" href="/store">Go To Store Api</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Auth Api</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'user-list' %}">Users</a></li>
                        <li><a class="dropdown-item" href="{% url 'jwt-create' %}">JWT/LOGIN</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>